#page-login,
#page-user-login,
#page-user-password,
#page-user-passwordcreate,
#page-user-register {
  background: $hero-bg-color url('../../images/bg/hero-book-pages.jpg') no-repeat !important;
  #full {
    margin: 80px auto;
  }

  .jream-icon-login {
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-right: 10px;
  }

  #title-bar {
    display: none;
  }

}
