#page-product,
#page-product-course,
#page-product-view {
  #hero {
    height: $hero-height-md;
    background: $hero-bg-color url('../../images/bg/hero-laptop.jpg') no-repeat;
  }

  .product-row {
    margin-bottom: 40px !important;
    padding: 0;
    position: relative; /** To contain ribbons */

    div.inner {
      padding: 20px;
    }

    .difficulty {
      margin-top: 10px;
    }

    .product-header {
      border: 1px solid $soft-gray;
      background: $bg-color-head;
      padding: 10px 20px;
      font-weight: 600;
      font-size: $font-size-md;

      span {
        color: #fff;
        font-weight: 600;
        font-size: $font-size-md;
      }
      a {
        font-weight: bolder;
        font-family: $font-stack;
        text-indent: 40px;
        font-size: $font-size-md;
        color: #fff;

        &:focus,
        &:active,
        &:hover {
          color: $highlight;
        }
      }

      .price {
        font-size: $font-size-md;
        font-family: $font-stack;
        text-align: right;
      }
    }

    .product-content {
      background: $bg-color-alt;
      //border: 1px solid red;
    }

    a.full-product {
      display: block;
      font-weight: bold;
      margin-top: 10px;
    }

  }

  .container-product-row.purchased {
    /*background: #ECF0EB !important;*/
  }

  .container-product-user-has {
    opacity: 0.7;
    h3 {
      opacity: 0.7;
    }
  }

}


#page-product-course {

  div.price-and-status {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-top: 0;

    .price,
    .purchased,
    .free {
      font-size: $font-size-md3;
      font-family: $font-stack;
      line-height: 85%;
    }
  }

  .promotion-container {
    margin: 20px 0 0 0;
  }

}
