._*
*.volt_e_.php
vendor/*
.vagrant
.idea
error.log
fabfile.pyc
*%%.php
*.volt.php
app/config/config-overwrite.php
app/config/api-overwrite.php
app/config/constants-constants.php
app/config/overwrite-config.php
app/config/overwrite-api.php
app/config/constants-constants.php
fabfile.pyc
composer.lock
public/sass/.sass-cache*
~.lock*
.~lock*
node_modules*
tests/_output/*
*node_modules/*
npm-debug.log
tests/_output/*

.project
.settings
.AppleDouble
.DS_Store
