._*
mix-manifest.json
*.volt_e_.php
.env
vendor/*
.idea
.env
*.lock
*.pyc
*.log
*.volt.php
.phpintel
*%%.php
public/sass/.sass-cache*
node_modules
tests/_output/
npm-debug.log
package-json.lock
.project
.settings
.AppleDouble
.DS_Store
/vendor/
