#logo-ico,
#logo {
  height: 40px;
  max-height: 40px;
  transition: all .1s ease-in-out;
}

#logo-ico:hover,
#logo:hover {
  opacity: 0.9;
}

/** Overwrite the thumbnail */
.img-thumbnail {
  transition: 0.5s;
  border: 0px solid $highlight-25;
  border-bottom: 12px solid $highlight-25;
  border-radius: 1px;
  background: $soft-gray;
  opacity: .85;
  padding: 0;

  &:hover {
    transition: 0.5s;
    border-color: $highlight;
    background: $highlight;
    opacity: 1;
  }
}

.img-thumbnail-lg {
  width: 100%;
}

