.form-group {
  font-family: $font-stack;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background: $bg-color-head-alt !important;
  border-color: $bg-color-head-alt !important;
}

.popover-content {
  font-size: $font-size-sm !important;
  line-height: 130%;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn, .input-lg
.panel-primary > .panel-heading {
  background: $bg-color-head-alt;
  border: none;
  color: $lightest;
}

.panel-primary {
  border-color: $soft-gray !important;
  .panel-heading {
    border-color: $soft-gray !important;
    background-color: $panel-header-bg-color;
    color: $panel-header-font-color;
    font-size: $font-size-md2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-stack;
      font-size: $font-size-md2;
      color: $lightest;
      text-align: left;

      i {
        margin-right: 10px;
      }
    }
    a {
      color: $lightest;
    }
  }
}

.list-group-item {
  border: 1px solid transparent;
  margin-bottom: 1px;

  h4 {
    color: $lightest !important;
  }

  .label {
    font-size: $font-size-sm;
    margin-left: 2px;
    margin-top: 5px;
  }
}
