.ribbon {
  height: 75px;
  left: -5px;
  overflow: hidden;
  position: absolute;
  text-align: right;
  top: -5px;
  width: 75px;
  z-index: 1;
  span {
    -webkit-transform: rotate(-45deg);
    background: #79A70A;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    color: #FFF;
    display: block;
    font-size: $font-size-xs;
    font-weight: bold;
    left: -21px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 19px;
    transform: rotate(-45deg);
    width: 100px;
  }
  span::before {
    border-bottom: 3px solid transparent;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-top: 3px solid #79A70A;
    content: "";
    left: 0px;
    position: absolute;
    top: 100%;
    z-index: -1;
  }
  span::after {
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-top: 3px solid #79A70A;
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
  }
}
