@font-face {
  font-family: ClearSansBold;
  src: url('../fonts/ClearSansBold/ClearSansBold.ttf') format('truetype'),
     url('../fonts/ClearSansBold/ClearSansBold.woff') format('woff'),
     url('../fonts/ClearSansBold/ClearSansBold.eot') format('embedded-opentype');
   }
@font-face {
  font-family: ClearSansBoldItalic;
  src: url('../fonts/ClearSansBoldItalic/ClearSansBoldItalic.ttf') format('truetype'),
     url('../fonts/ClearSansBoldItalic/ClearSansBoldItalic.woff') format('woff'),
     url('../fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot') format('embedded-opentype');
   }
@font-face {
  font-family: ClearSansItalic;
  src: url('../fonts/ClearSansItalic/ClearSansItalic.ttf') format('truetype'),
     url('../fonts/ClearSansItalic/ClearSansItalic.woff') format('woff'),
     url('../fonts/ClearSansItalic/ClearSansItalic.eot') format('embedded-opentype');
   }
@font-face {
    font-family: ClearSansLight;
    src: url('../fonts/ClearSansLight/ClearSansLight.ttf') format('truetype'),
     url('../fonts/ClearSansLight/ClearSansLight.woff') format('woff'),
     url('../fonts/ClearSansLight/ClearSansLight.eot') format('embedded-opentype');
   }
@font-face {
    font-family: ClearSansMedium;
    src: url('../fonts/ClearSansMedium/ClearSansMedium.ttf') format('truetype'),
      url('../fonts/ClearSansMedium/ClearSansMedium.woff') format('woff'),
    url('../fonts/ClearSansMedium/ClearSansMedium.eot') format('embedded-opentype');
   }
@font-face {
    font-family: ClearSansMediumItalic;
    src: url('../fonts/ClearSansMediumItalic/ClearSansMediumItalic.ttf') format('truetype'),
     url('../fonts/ClearSansMediumItalic/ClearSansMediumItalic.woff') format('woff'),
     url('../fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot') format('embedded-opentype');
   }
@font-face {
    font-family: ClearSansRegular;
    src: url('../fonts/ClearSansRegular/ClearSansRegular.ttf') format('truetype'),
     url('../fonts/ClearSansRegular/ClearSansRegular.woff') format('woff'),
     url('../fonts/ClearSansRegular/ClearSansRegular.eot') format('embedded-opentype');
   }
@font-face {
    font-family: ClearSansThin;
    src: url('../fonts/ClearSansThin/ClearSansThin.ttf') format('truetype'),
     url('../fonts/ClearSansThin/ClearSansThin.woff') format('woff'),
     url('../fonts/ClearSansThin/ClearSansThin.eot') format('embedded-opentype');
   }

