$font-stack: 'Titillium Web', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
$line-height: 1.8em;

$lightest: #fff; /* white */
$content-text: #555; /** gray */
$soft-gray: #ddd;
$dim: #879fad;

$content: #f5f5f5;
$content-offset: #ecf0f1; /** clouds */
$content-offset-d: #e1e7e9; /** clouds 2 hexes darker */
$content-offset-l: #f3f5f6; /** clouds 1 hexes lighter */
$content-gentle: #d0eaed; /* gentle blue */

$structure: #2c3e50; /* midnight blue */
$structure-offset: #34495e; /** wet asphalt */

$sub-structure: #bdc3c7;
$sub-structure-offset: #95a5a6;

$primary: #2980b9; /** belize hole */
$primary-hover: #3498db; /** peter river */

$complimentary: #27ae60; /* nephritis */
$complimentary-offset: #2ecc71; /* emerald */

$promise: #8e44ad; /** wisteria */
