@import '../modules/_colors';
@import '../modules/_mixins';
#page-account {
    .purchase-history {
        table {
            font-size: 13px !important;
        }
    }
}

#page-account-action-delete {
    .txt-delete-confirm {
        color: #d9534f;
        padding: 3px 10px 3px 0;
    }
}