@import '../modules/_colors';
@import '../modules/_mixins';
#page-login,
#page-user-action-login,
#page-user-action-register {
    #login-intro {
        background: $structure url("../img/bg-login.jpg") 60% 0px;
        background-size: cover;
        position: relative;
        height: 900px;
        .inner {
            padding-top: 150px;
        }
    }

    .jream-icon-login {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
    }

    #title-bar {
        display:  none;
    }

}