@import '../modules/_colors';
@import '../modules/_mixins';
#page-product,
#page-product-action-view {
    #product-intro {
        /*background: $structure url("../img/bg-product.jpg") 60% 0px;*/
        background: $structure;
        background-size: cover;
        position: relative;
        height: 150px;
        .inner {
            text-align: center;
            h2 {
                color: $lightest;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            }
            margin-top: 30px;
        }
    }
    a.full-product {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    .public-product-title {
        margin: 0;
        font-weight: 600;
        a {
            color: inherit;
        }
        a:hover {
            color: #196c9e;
        }
    }

    .container-product-row {
        background: $content-offset;
        padding: 20px 20px;
        margin-bottom: 40px !important;
        position: relative; /** To contain ribbons */
        border: 1px solid transparent;
        &:hover {
            border: 1px solid transparent;
        };
    }
    .container-product-row.purchased {
        /*background: #ECF0EB !important;*/
    }

    .container-product-user-has {
        opacity: 0.7;
        h3 {
            opacity: 0.7;
        }
    }

}