@import '../modules/_colors';
@import '../modules/_mixins';
#page-question-action-index {

    .question-preview {
        padding: 10px;
        min-height: 150px;
        border: 1px solid silver;
        background: $lightest;
    }

    .question {
        padding: 10px;
        min-height: 160px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: $lightest;
    }

    .reply-list-item {
        margin: 0 10px 1px 20px;
        padding: 5px;
        &:nth-child(odd) {
            background: #f2f2f2;
        }
        div,
        .thread-item div {
            margin: 0 5px 1px 24px;
        }
    }

    .thread-item {
        padding: 5px;
    }
}