<?php

// --------------------------------------------------------------
// Site Config Overwrite
// --------------------------------------------------------------

$config->database = (object) [
    'adapter'     => 'Mysql',
    'host'        => 'localhost',
    'username'    => 'root',
    'password'    => '',
    'dbname'      => 'jream'
];

// End of File
// --------------------------------------------------------------