<?php

// --------------------------------------------------------------
// Timezone
// --------------------------------------------------------------
//defined ('DEFAULT_TIMEZONE') or define('DEFAULT_TIMEZONE', 'UTC');

// --------------------------------------------------------------
// Settings
// See: ../resources/apache for setup
// --------------------------------------------------------------
define('STAGE', 'dev');
define('URL', 'http://local/jream');
define('BASE_URI', 'http://local.jream/');
define('HTTPS', true);

