.animate-bounce{
  animation: bounce linear 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes bounce{
    0%   {transform: translate(0px,0px)}
    15%  {transform: translate(0px,-25px)}
    30%  {transform: translate(0px,0px)}
    45%  {transform: translate(0px,-15px)}
    60%  {transform: translate(0px,0px)}
    75%  {transform: translate(0px,-5px)}
    100% {transform: translate(0px,0px)}
}

.animate-shake{
  animation: shake linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes shake{
  0%   {transform: translate(0px,0px)}
  10%  {transform: translate(-10px,0px)}
  20%  {transform: translate(10px,0px)}
  30%  {transform: translate(-10px,0px)}
  40%  {transform: translate(10px,0px)}
  50%  {transform: translate(-10px,0px)}
  60%  {transform: translate(10px,0px)}
  70%  {transform: translate(-10px,0px)}
  80%  {transform: translate(10px,0px)}
  90%  {transform: translate(-10px,0px)}
  100% {transform: translate(0px,0px)}
}

.animate-swing{
  animation: swing linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
}

@keyframes swing{
  0%   {transform: rotate(0deg)}
  20%  {transform: rotate(15deg)}
  40%  {transform: rotate(-10deg)}
  60%  {transform: rotate(5deg)}
  80%  {transform: rotate(-5deg)}
  100% {transform: rotate(0deg)}
}

.animate-tada{
  animation: tada linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes tada{
  0%   {transform: rotate(0deg)  scaleX(1.00) scaleY(1.00)}
  10%  {transform: rotate(-3deg) scaleX(0.80) scaleY(0.80)}
  20%  {transform: rotate(-3deg) scaleX(0.80) scaleY(0.80)}
  30%  {transform: rotate(3deg)  scaleX(1.20) scaleY(1.20)}
  40%  {transform: rotate(-3deg) scaleX(1.20) scaleY(1.20)}
  50%  {transform: rotate(3deg)  scaleX(1.20) scaleY(1.20)}
  60%  {transform: rotate(-3deg) scaleX(1.20) scaleY(1.20)}
  70%  {transform: rotate(3deg)  scaleX(1.20) scaleY(1.20)}
  80%  {transform: rotate(-3deg) scaleX(1.20) scaleY(1.20)}
  90%  {transform: rotate(3deg)  scaleX(1.20) scaleY(1.20)}
  100% {transform: rotate(0deg)  scaleX(1.20) scaleY(1.20)}
}

.animate-fadein-up,
.animate-fadein-down,
.animate-fadein-left,
.animate-fadein-right,
{
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
}

.animate-fadein-up    {animation: fadeinup ease 1s}
.animate-fadein-down  {animation: fadeindown ease 1s}
.animate-fadein-left  {animation: fadeinleft ease 1s}
.animate-fadein-right {animation: fadeinright ease 1s}

@keyframes fadeinup{
  0%   {opacity:0; transform: translate(0px,25px)}
  100% {opacity:1; transform: translate(0px,0px)}
}

@keyframes fadeindown{
  0%   {opacity:0; transform: translate(0px,-25px)}
  100% {opacity:1; transform: translate(0px,0px)}
}

@keyframes fadeinleft{
  0%   {opacity:0; transform: translate(-25px,0px)}
  100% {opacity:1; transform: translate(0px,0px)}
}

@keyframes fadeinright{
  0%   {opacity:0; transform: translate(25px,0px)}
  100% {opacity:1; transform: translate(0px,0px)}
}

