@import 'modules/_colors';
@import 'modules/_mixins';
@import 'fonts/et';
@import '_misc';
@import '_media';
@import '_ribbons';
@import '_animate';
@import '_bootstrap-overwrite';

/**
 * Note: For PAGE @overwrite(s) go to the bottom of the FILE
 * This will allow it to be the last overwrite.
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 250px; /** Footer Height + 50 for spacing */

    font-size: 1.8em !important;
    color: $content-text;
    background: $content !important;
    font-family: $font-stack;
    line-height: $line-height !important;


    h1, h2, h3 {
        font-family: $font-stack;
        font-weight: 300;
        color: #020101;
    }

    h2, h3 {margin-top: 30px;}

    h1 a:hover,
    h2 a:hover,
    h3 a:hover,
    h4 a:hover {
        text-decoration: none;
    }

    ul.list-indent > li {
        margin-left: 10px;
    }

    ul.list-indent > li > li {
        margin-left: 10px;
    }
}

a {
    .course-list {
        color: gray;
    }
}

a.toggle-lights {
    /** Only way to override is by a direct call here */
    position: relative;
    z-index: 50 !important;
}

#logo:hover {
    opacity: 0.9;
}

#system-info {
    background: #ffffcc;
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    .info-timestamp {
        background: rgba(0,0,0,0.04);
        border-right: 1px solid rgba(0,0,0,0.2);
        padding: 2px 5px;
        border-radius: 3px;
        font-size: 11px;
        float: left;
        position: absolute;
        left: 0;
    }
}

#header {
    background: $structure;
    z-index: 100;
    width: 100%;
    .icon-bar {
        background: $lightest;
    }
    .nav > li > a:hover,
    .nav > li > a:focus,
    .nav > li > a:active {
        background: $structure-offset;
        color: $lightest !important;
        border-radius: 6px;
    }
    .navbar-inner .container-fluid {
        background: #e2e2e2 !important;
    }
    .dropdown-menu {
        width: 200px;
        background: $structure;
        color: $lightest;
        font-size: 15px;
        .divider {
           background: $structure-offset;
        }
        .glyphicon {
            margin-right: 10px;
        }
    }
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        background: $structure-offset !important;
        color: $lightest !important;
    }
    .dropdown-menu>li>a {
        padding: 10px 0 10px 10px !important;
        color: $lightest !important;
    }

    /** Overwrite login/user button */
    .btn-primary {
        border: none;
        background: $structure-offset !important;
    }

    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        outline: none;
        border: 0px solid $lightest !important;
        background: $structure-offset !important;
        color: $lightest !important;
    }

    .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
        background: inherit;
        color: $lightest !important;
    }
}

#title-bar {
    margin-bottom: 20px;
    height: 61px;
    background: $content-offset;
    h1 {
        color: $dim;
        margin: 14px 0 0 0;
        font-size: 32px;
        font-family: 'Titillium Web', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif !important;
        a {
            color: #13547b;
            text-decoration: underline;
        }
    }
    #search {
        margin-top: 13px;
    }
}

a .container {
    color: $primary !important;
    .course-list {
        color: gray;
    }

}

a:hover .container {
    color: $primary-hover !important;
}

#footer {
    border-top: 1px solid $content-offset;
    color: #b2b2b2;
    background: $content-offset;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px; /** Aligns with body offset */

    #inner-footer {
        margin: 0 auto;
        padding-top: 25px !important;
        width: 970px;

        a {
            margin-right: 15px;
            color: #428bca !important;
        }

        .social-icons {
            a {
                color: $primary !important;
                display: inline-block;
                margin-right: 0px;
                padding: 15px;
                width: 60px;
                text-align: center;
                &:hover {
                    background: $primary-hover !important;
                    color: $lightest !important;
                }
            }
        }
    }
}


#goto-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
    opacity: 1;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $primary;
    color: $lightest;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    &:hover {
        background: $primary-hover;
    }
}

.call-to-action {
    background: $structure;
    background-size: cover;
    margin-top: 25px;
    color: $content-text;
    h3 {
        color: $lightest;
        font-size: 40px;
    }
    p {
        color: $lightest;
        font-size: 20px;
        text-align: center;
        margin-bottom: 2px;
    }
    div:first-child {
        margin-bottom: 20px;
    }
}

.social-share {
    position: absolute;
    top: 0;
    right: 12px;
    display: inline-block;
    float: right;
}

.flowplayer {
    z-index: 50;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /*dim the background*/
}


.fadeover {
    opacity: 0.85;
    &:hover {
        opacity: 1;
        @include transition(opacity 500ms ease-out);
    }
}

.payment-icons {
    padding: 5px 0 10px 0;
}

div.error-validation {
    color: #b94a48;
    font-size: 10px;
    line-height: 10px;
}

.btn-facebook {
    &:hover,
    &:active {
        color: #fff !important;
    }
}

@import 'pages/admin';
@import 'pages/dashboard';
@import 'pages/discover';
@import 'pages/home';
@import 'pages/live';
@import 'pages/login';
@import 'pages/product';
@import 'pages/devtools';